html{
    display: block;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    background: #fff;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content:flex-end;
    padding: 6px;
    height: 48px;
    position: relative;
    box-sizing: border-box;
    font: 13px/27px Roboto,Arial,sans-serif;
}

#GoogleLogo{
    width: 272px;
    margin: auto;
}
.GoogleLogo{
    margin-top: 198px;
    height:92px;
}

#searchbar{
    display: block;
    padding:20px;
    max-height: 160px;
    align-items: center;
    justify-content: center;
}

#form{
    max-width: 584px;
    width: 100%;
    margin: 0 auto;
    padding-top: 6px;
}
#input{
    display: block;
    flex: 1;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#inputElements{
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    display: flex;
    flex: 1;
    padding: 5px 8px 0 14px;

}

#searchIcon{
    align-items: center;
    padding-right: 13px;
    height: 20px;
    max-width: 20px;
    width: auto;
}

.searchIcon{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: inline-block;
    color: #9aa0a6;
    fill: currentColor;
}
#inputText{
    flex-wrap: wrap;
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    display: block;
}
.inputText{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -25px;
    font-size: 16px;
    width: 100%;
}

input{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    cursor: text;
}
#VCIcon{
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    flex-direction: row;
    margin-top: 5px;
}
.VCIcon{
    flex:1 0 auto;
    display: flex;
    cursor: pointer;
    background: transparent;
    padding: 0 8px;
    height:32px;
    width: 24px;
    line-height: 44px;
    
}
.CIcon{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#buttons{
    height: 70px;
    padding-top: 18px;
    display: block;
    text-align: center;
}

.buttons{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#undersearch{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
#offered{
    display: block;
    text-align: center;
    font-size: small;
    margin-bottom: 24px;
    color: #4d5156;
}
a{
    padding-right: 15px;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: #681da8;
}

#bottom{
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}
#morocco{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: block;
}
@media only screen and(max-width:1200px){
    #bot{
        justify-content: space-evenly;
    }
}
#bot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
#adc{
    display: flex;
}
.adc{
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
}